<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="card">
        <div class="signUP ff">
            <div class="head" style="font-size: larger; margin-top: 7vh;">
                <h1>Create an Account</h1>
            </div>
            <div class="form">
                <form action="/signup" method="post" id="signup-form">
                    <div class="email">
                        <input type="email" name="email" id="sgn-email" placeholder="Email ID" required>
                        <div class="error" id="id-exist">
                            *This Email ID already Exist
                        </div>
                    </div>
                    <input type="password" name="password" id="create-password" placeholder="Password" required>
                    <div class="confirm-password">
                        <input type="password" name="confirmPassword" id="confirm-password"
                            placeholder="Confirm Password" required>
                        <div class="error" id="password-misMatch">
                            *Passwords do not Match
                        </div>
                    </div>
                    <div class="signup-btn">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="switch-page">
                    Have an Account?<span id="switch-login">Login here*</span>
                </div>
            </div>
        </div>
        <div class="login bf">
            <div class="head" style="font-size: larger; margin-top: 20px;">
                <h1>Login</h1>
            </div>
            <div class="form">
                <form action="/login" method="post" id="login-form">
                    <div class="email">
                        <input type="email" name="email" id="email" placeholder="Email ID" required>
                    </div>
                    <div class="confirm-password">
                        <input type="password" name="password" id="login-password" placeholder="Password" required>
                        <div class="error" id="incorrect-password">
                            *Incorrect Password Entered
                        </div>
                    </div>
                    <button type="submit" id="login-btn">Login</button>
                </form>
                <div class="bar">
                    <span class="line"></span>
                    <span>or</span>
                    <span class="line"></span>
                </div>

            </div>
            <div class="OAuth-options">
                <div class="google-OAuth option-box">
                    <div class="platform-logo">
                        <i class='bx bxl-google'></i>
                    </div>
                    <div class="option">
                        Continue With Google
                    </div>
                </div>
            </div>
            <div class="switch-page">
                Create new Account?<span id="switch-signup">SignUp here*</span>
            </div>
        </div>
    </div>
</body>
<script>
    let flipLogin = document.getElementById("switch-login");
    let card = document.getElementsByClassName("card")[0];
    flipLogin.addEventListener("click", () => {
        card.style.transform = "rotateY(180deg)";
    });

    let flipSignUp = document.getElementById("switch-signup");
    flipSignUp.addEventListener("click", () => {
        card.style.transform = "rotateY(0deg)";
    });

    let signup = document.querySelector(".signup-btn button");
    signup.addEventListener("click", async (event) => {
        let misMatchErr = document.getElementById("password-misMatch");
        let idExist=document.getElementById("id-exist");
        idExist.style.display="none";
        misMatchErr.style.display = "none";
        event.preventDefault();

        let pwd = document.getElementById("create-password").value;
        let cnfpwd = document.getElementById("confirm-password").value;
        let email=document.getElementById("sgn-email").value;

        let response=await fetch("/signup", {
            method:'POST',
            headers: {
                "Content-Type":"application/json"
            },
            body: JSON.stringify({email:email,password:pwd,cnfpwd:cnfpwd})
        })
        let result=await response.json();

        if(response.status === 400) {
            idExist.style.display="flex";
        }
        else if(response.status === 401) {
            misMatchErr.style.display="flex";
        }
        else if(response.status === 200) {
            window.location.href="/";
        }
        
    })

    let login = document.getElementById("login-btn");
    login.addEventListener("click", async () => {
        event.preventDefault();

        let incErr = document.getElementById("incorrect-password");
        incErr.style.display="none";

        let email = document.getElementById("email").value;
        let password = document.getElementById("login-password").value;

        try {
            let response = await fetch("/login", {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email: email, password: password })
            })
            let result = await response.json();
            console.log("Response Data:", result);

            if (response.ok) {
                console.log("Login Successful");
                window.location.href = "/"; 
                incErr.style.display="none";
            } else {
                console.log("Login Failed:", result.error);
                incErr.style.display = "flex";
            }

        } catch (error) {
            console.error("Error:", error);
        }
    });

</script>

</html>