<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Detail <%= name %></title>
    <link rel="stylesheet" href="/productDetail.css" />
  </head>
  <body>
       <%- include("../header.html") %>
       <div class="main_container">
        <div class="card_list">
            <div class="card_container">
              <h3 class="card_title">Card 1</h1>
            </div>
            <div class="card_container">
             <h3 class="card_title">Card 2</h1>
            </div>
            <div class="card_container">
             <h3 class="card_title">Card 3</h1>
            </div>
            <div class="card_container">
             <h3 class="card_title">Card 4</h1>
            </div>
        </div>
        <div class="big_card">
        </div>
        <div class="product_details">
          <div class="item_header">
              <h1 class="item_title">ADIDAS BOUNCING SHOES <br>FOR MEN</h1>
              <h2 class="item_price">3000/-</h2>
          </div>
          <div>
            <h2 class="item_address">Kamaraj Nagar,Prothrapur,Andaman & <br>Nicobar Islands</h2>
          </div>
          <div class="description"> 
            <h2 class="item_desc">Description</h2>
            <h3 class="item_title">
              Size 8<br>
              Brand new, untouched, Canteen purchased ,<br>
              No package box,<br>
              No bill,<br>
              Still Never used
            </h3>
          </div>
        </div>
       </div>
  </body>
</html>

