<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/Profile.css" />
<div class="window">
    <%- include ("HomeHeader.ejs") %>
        <div class="main-container">
            <div class="header">
                <div class="back-icon">
                    <a href="/"><i class='bx bx-left-arrow-alt'></i></a>
                </div>
                <div class="header-text">
                    <h1>Your Account</h1>
                </div>
            </div>
            <div class="user-data">
                <a href="/buyer/updatePassword">
                    <div class="data-box">
                        <div class="section-text">
                            <h1>Login and Security <i class='bx bxs-lock'></i></h1>
                        </div>
                    </div>
                </a>
                <a href="/buyer/yourProducts">
                    <div class="data-box">
                        <div class="section-text">
                            <h1>Your Orders <i class='bx bx-package'></i></h1>
                        </div>
                    </div>
                </a>
                <div class="data-box">
                    <div class="section-text">
                        <h1>Your Seller Account</h1>
                    </div>
                </div>
                <a href="/logout">
                    <div class="data-box">
                        <div class="section-text">
                            <h1>Logout</h1>
                        </div>
                    </div>
                </a>
            <a href="/buyer/contact">
                    <div class="data-box fourth-box">
                        <div class="section-text">
                            <h1>Contact Us <i class='bx bx-support'></i></h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</div>