<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sellerHeader.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/seller">
                    <img src="/Assets/ADVANTAGE.png" alt="Logo" class="logo-img" draggable="false">
                </a>
            </div>
            <div class="actions">
                <a href="/seller">
                    <div class="dashboard hover">
                        Dashboard
                    </div>
                </a>

                <a href="/seller/chats/sellerInbox">
                    <div class="inbox hover">
                        Inbox
                    </div>
                </a>
                <a href="/seller/subscriptions">
                    <div class="hover subscriptions">
                        Subscriptions
                    </div>
                </a>
                <a href="/seller/addProductForm">
                    <div class="newProduct hover">
                        Add new product
                    </div>
                </a>
                <div class="notifications hover">
                    <i class='bx bxs-bell-ring'></i>
                </div>
                <a href="/seller/updatePassword">
                    <div class="profile hover">
                        <i class='bx bxs-user-circle'></i>
                    </div>
                </a>

                <a>
                    <div class="logout hover" id="logout">
                        Logout
                    </div>
                </a>
            </div>
            </div>
            <div id="burger">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
</body>
<script>
    let logout = document.getElementById("logout");
    logout.addEventListener("click", () => {
        let res = confirm("Do you want to logout ?");
        console.log("res: ",res);
        if (res) {
            localStorage.removeItem('token');
            // remove cookie before logout 
            
            window.location.href("/auth/seller");
        }
    })
</script>

</html>