<%- include("sellerHeader.ejs") %>
<link rel="stylesheet" href="/UpdatePassword.css">
<main>
    <div class="card">
        <div class="signUP ff">
            <div class="head" style="font-size: larger; margin-top: 3vh">
                <h1 style="font-size: 28px; font-weight: 400;">Update Password</h1>
            </div>
            <div class="form">
                <form action="/buyer/updatePassword" method="post" id="contact-form">
                    <div class="email">
                        <input type="password" name="oldPassword" id="oldPassword" placeholder="Your Old Password" required />
                    </div>
                    <div class="user-details">
                        <input name="newPassword" id="newPassword" placeholder="New Password" required />
                        <input name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password" required />
                    </div>
                    <div class="signup-btn">
                        <button type="submit" id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    let submit = document.getElementById("submit");

    submit.addEventListener("click", async (event) => {
        event.preventDefault();

        let oldPassword = document.getElementById("oldPassword").value;
        let newPassword = document.getElementById("newPassword").value;
        let confirmNewPassword = document.getElementById("confirmNewPassword").value;
        
        if (newPassword.trim().length == 0) {
            alert("New password cannot be empty");
            return;
        }
        if (newPassword.length < 8) {
            alert("password must be atleast 8 characters long");
            return;
        }
        if (newPassword !== confirmNewPassword) {
            alert("Passwords did not match");
            return;
        }
        
        let res = await fetch("http://localhost:3000/seller/update/password", {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                oldPassword: oldPassword,
                newPassword: newPassword,
            }),
            credentials:"include",
        });
        let response=await res.json();
        console.log(response);
        alert(response.message);
    });
</script>