<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/yourProducts.css" />
<div class="window">
  <%- include ("HomeHeader.ejs") %>
  <div class="main-container">
    <div class="header">
      <div class="back-icon">
        <a href="/"><i class="bx bx-left-arrow-alt"></i></a>
      </div>
      <div class="header-text">
        <h1>Your Orders</h1>
      </div>
    </div>
    <div class="product_list">
      <% for(let i = 0; i < userProducts.length; i++) { %> <% let product =
      userProducts[i]; %>
      <a href="/search/product/<%= product._id %>">
        <div class="product_card">
          <% if(product.Image1Src) { %>
          <img src="<%= product.Image1Src %>" alt="Product Image" />
          <% } %>
        </div>
      </a>
      <% } %>
    </div>
  </div>
</div>
