* {
    margin: 0;
    padding: 0;
}
main {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/Assets/Backgrounds/LoginBackground.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.head {
    width: 100vw;
    display: flex;
    justify-content:center;
    color: white;
    
}
#contact-form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid white;
    border-radius: 10px;
}
#conatct-form>input {
    height: 40px;
    width: 300px;

}
.cf {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
}
textarea {
    resize: none;
    height: 100px;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
}
#submit{
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}