* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}

header {
    height: max(9.765625vh, 40px);
    /*75px*/
    width: 100vw;
    background-color: transparent
}

nav {
    height: inherit;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    margin-left: 2%;
    overflow: hidden;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    gap: 2vw;
    /* background-color: red; */
}

.logo {
    font-size: x-large;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

.logo a {
    text-decoration: none;
    color: black;
    background-color: inherit;
    border: none;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;

}

.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-box input {
    padding-left: 2vw;
}

#search-products {
    height: 40px;
    width: 25vw;
    background-color: rgb(203, 203, 203);
    border: none;
    border-radius: 8px;
}

#search-products::placeholder {
    color: rgb(203, 203, 203);
    font-weight: 500;
    font-size: medium;
    font-family: "";
}
button{
    border: 0px;
}
#search-btn {
    height: 40px; 
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 203, 203);
    color: #242424;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.magnifier {
    font-size: large;
    position: absolute;
    left: 1vh;
    bottom: 30%;
}

.user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sellbtn {
    font-size: larger;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    background-color: rgb(203, 203, 203);
    height: 40px;
    width: fit-content;
    margin-left: 2vw;
    padding: 0px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.bx {
    cursor: pointer;
}
.login-btn {
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    background-color: rgb(203, 203, 203);
    color: #090909;
    border-radius: 7px;
}

.box2 {
    width: 13vw;
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: center;
}

.box2-icons {
    font-size: max(3.6458333333333333333333333333333vh, 20px);
    /*28px*/
}

.box3 {
    width: 15vw;
    border-bottom-left-radius: 100px;
    background-color: transparent;
    height: max(9.765625vh, 40px);
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 3vw;
    padding-left: 2vw;
}
#burger {
    font-size: max(3.6458333333333333333333333333333vh, 20px);
    display: none;
}

@media screen and (max-width:980px) {
    #burger {
        display: flex;
        margin-right: 2vw;
        cursor: pointer;
        box-shadow: 0px 0px 5px #242424;
    }
    .user-actions {
        display: none;
    }
}
@media screen and (max-width:420px) {
    .sellbtn {
        display: none;
    }
    #search-btn {
        display: none;
    }
    .logo {
        display: none;
    }
    #search-products {
        height: 40px;
        width: 270px;
        background-color: rgb(72, 215, 125);
        border: none;
        border-radius: 8px;
    }
}