* {
    margin: 0px;
    padding: 0px;
}

.products {
    border: 1px solid #c3c4c5;
    margin: 20px;
    border-radius: 10px;
    text-align: center; 
}

.products:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(225, 243, 255);
}

.images {
    height: 280px;
    width: 280px;
    /*background-color: #D9D9D9;*/
    border-radius: 10px;
}

main {
    color: white;
}

#filters {
    display: inline-block;
    font-size: 2.5vw;
    margin-top: 2.2135vh;
    margin-left: 0.7320644vw;
    /* letter-spacing: 0.1vw; */
}

.fog {
    height: 41.958333vh;
    width: 21.40409vw;
    background-color: #c3c4c5;
    filter: blur(200px);
    opacity: 60%;
    border-radius: 50%;
    position: fixed;
}

#fog2 {
    left: -20%;
    bottom: 0%;
}

#fog1 {
    right: -10%;
}

#up {
    border-bottom: 1px solid #c3c4c5;
    /* background-color: blue; */
}

#bottom {
    display: flex;
}

#filterContainer {
    position: relative;
    /* background-color: purple; */
    width: 26.35vw;
    /* height: 100vh; */
}

#priceRange {
    display: block;
    /* margin-top: 2.3vh; */
    margin-left: 0.54vw;
    position: relative;
    top: 7px;
    font-size: 1.6vw;
}

#filterContainer input {
    display: inline-block;
    width: 3.6603221083455344070278184480234vw;
    background-color: #D9D9D9;
    margin-top: 1vh;
    font-weight: 500;
    padding: 3px;
    border-radius: 2px;
    border: 0px;
}

#filterContainer input::placeholder {
    opacity: 0.6;
}

#filterApply {
    padding: 6px 15px;
    font-size: small;
    background-color: #48D77D;
    border: 0px;
    border-radius: 2px;
    align-self: flex-end;
    transform: translateY(6%);
}

#filterApply:hover {
    background-color: #38a560;
}

#mainSection {
    /* background-color: aqua; */
   
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    border-left: 1px solid #c3c4c5;
}

#minAndMax {
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
    /* background-color: yellow; */
    align-items: flex-start;
}
#mainSection a{
    color: white;
    text-decoration: none;
}