<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Admin.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="dashboard">
        <img class="sideBar" src="/Assets/AdminSidebar.png"/>
      <div class="main_section">
        <div id="graphs">
          <div class="curve">
            <div class="curve_graph"></div>
          </div>
          <div class="pie_chart"></div>
        </div>
        <div class="user_data">
          <div class="stat_card">
            <h1>578</h1>
            <h2 id="stat_color">Total Sellers</h2>
          </div>
          <div class="stat_card">
            <h1>1043</h1>
            <h2 id="stat_color">Total Buyers</h2>
          </div>
          <div class="stat_card">
            <h1>700</h1>
            <h2 id="stat_color">Active ADs</h2>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/app.js"></script>
  </body>
</html>
