<%- include('Header.ejs') %>
<link rel="stylesheet" href="/buyerChat.css">


<main>
    <div class="left">
        <div class="chatHead">
            <h1>CHATS</h1>
        </div>
        <div class="contacts">
            <div class="person">
                <div class="dp">

                </div>
                <div class="name">
                    UserName
                </div>
            </div>
        </div>
    </div>
    <div class="chatbox">
        <div class="currentChat">
            <div class="dp">

            </div>
            Name
        </div>
        <div class="messages">
            <div class="message-left msg-style">
                <div class="dp-circle-small">

                </div>
                <div class="message-content">

                </div>
            </div>
            <div class="message-right msg-style">
                <div class="message-content">
                    
                </div>
                <div class="dp-circle-small">
                    
                </div>
            </div>
        </div>
    </div>
</main>