<%- include("HomeHeader.ejs") %>
    <link rel="stylesheet" href="/ContactUs.css">


    <main>
        <div class="form">

            <form action="/buyer/updatePassword" method="post" id="contact-form">
                <div class="head">
                    <h1>Update Password</h1>
                </div>
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="cf">
                <div class="label">
                    <label for="oldPassword">Old Password</label>
                </div>
                <input type="password" name="oldPassword" id="oldPassword" placeholder="Your Old Passwrord" class="cf">
                <div class="label">
                    <label for="newPassword">New Password</label>
                </div>
                <input name="newPassword" id="newPassword" placeholder="New Password" class="cf" type="password"></input>
                <div class="label">
                    <label for="confirmNewPassword">Confirm New Password</label>
                </div>
                <input name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password"
                    class="cf" type="password"></input>
                <button type="submit" id="submit">Submit</button>
            </form>

        </div>
    </main>
    <script>
        let submit = document.getElementById("submit");

        submit.addEventListener("click", async (event) => {
            event.preventDefault();

            let email = document.getElementById("email").value;
            let oldPassword = document.getElementById("oldPassword").value;
            let newPassword = document.getElementById("newPassword").value;
            let confirmNewPassword = document.getElementById("confirmNewPassword").value;
            if (!email.includes('@')) {
                alert("Invalid email, Email ID  should contain '@'");
                return;
            }
            if (email.includes('@')) {
                let atIndex = email.indexOf('@');
                let aferAtTheRate = email.slice(atIndex + 1);
                if (!isNaN(aferAtTheRate)) {
                    alert("Numbers not allowed in domain ");
                    return;
                }
                if (aferAtTheRate.length == 0) {
                    alert("Valid email should have Domain after @");
                    return;
                }
                if (!aferAtTheRate.includes('.')) {
                    alert("Invalid Domain! missing '.' ");
                    return;
                }
                else {
                    let dotIndx = aferAtTheRate.indexOf('.');
                    let afterDot = aferAtTheRate.slice(dotIndx + 1);

                    if (afterDot.length === 0) {
                        alert("Invalid Email: Incomplete domain");
                        return;
                    }
                }
            }
            if (newPassword.trim().length == 0) {
                alert("New password cannot be empty");
                return;
            }
            if (newPassword.length < 8) {
                alert("password must be atleast 8 characters long");
                return;
            }
            if (newPassword !== confirmNewPassword) {
                alert("Passwords did not match");
                return;
            }
            //FETCH REQUEST GOES HERE FOR OLD PASSWORD VALIDATION
            let res = await fetch("/buyer/updatePassword", {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    email: email,
                    oldPassword: oldPassword,
                    newPassword: newPassword,
                    confirmNewPassword: confirmNewPassword
                })
            });
            try {
                let response = await res.json();
                if (res.status == 401) {
                    alert(response);
                    return;
                }
            }catch(err){
                window.location.href="http://localhost:3000/buyer/home";
            }
        });
    </script>