<%- include("HomeHeader.ejs") %>
    <link rel="stylesheet" href="/ContactUs.css">


    <main>
        <div class="form">

            <form action="/contactUs" method="post" id="contact-form">
                <div class="head">
                    <h1>Contact us</h1>
                </div>
                <div class="label">
                    <label for="name">Name</label>
                </div>
                <input type="text" id="name" name="username" placeholder="Your Name" class="cf">
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="cf">
                <div class="label">
                    <label for="contact">Contact</label>
                </div>
                <input type="number" name="contact" id="contact" placeholder="Contact No" class="cf">
                <div class="label">
                    <label for="query">Your Query</label>
                </div>
                <textarea name="query" id="query" placeholder="Type your query here..."></textarea>
                <button type="submit" id="submit">Submit</button>
            </form>

        </div>
    </main>
    <script>
        let submit = document.getElementById("submit");

        submit.addEventListener("click", (event) => {
            event.preventDefault();

            let email = document.getElementById("email").value;
            let contact = document.getElementById("contact").value;
            let query = document.getElementById("query").value;
            let name=document.getElementById("name").value;

            if(name.trim().length==0) {
                alert("Enter Your Name");
                return ;
            }
            if(true) {
                for(let i=0;i<name.length;i++) {
                    let ch=name.charAt(i);
                    if(!isNaN(ch)) {
                        alert("Name cannot contain numbers");
                        return;
                    }
                }
            }
            if (!email.includes('@')) {
                alert("Invalid email, Email ID  should contain '@'");
                return;
            }
            if (email.includes('@')) {
                let atIndex = email.indexOf('@');
                let aferAtTheRate = email.slice(atIndex + 1);
                let beforeAtTheRate = email.slice(0, atIndex);

                
                if (!isNaN(aferAtTheRate)) {
                    alert("Numbers not allowed in domain ");
                    return;
                }
                if (aferAtTheRate.length == 0) {
                    alert("Valid email should have Domain after @");
                    return;
                }
                if (!aferAtTheRate.includes('.')) {
                    alert("Invalid Domain! missing '.' ");
                    return;
                }
                else {
                    let dotIndx = aferAtTheRate.indexOf('.');
                    let afterDot = aferAtTheRate.slice(dotIndx + 1);

                    if (afterDot.length === 0) {
                        alert("Invalid Email: Incomplete domain");
                        return;
                    }
                }
            }

            const contactRegex = /^[6-9]\d{9}$/;
            if(!contactRegex.test(contact)) {
                alert("Mobile number should contain 10 digits");
                return ;
            }
            
            // if (contact.charAt(0) != '0' && contact.trim().length != 10) {
            //     alert("Mobile number should contain 10 digits");
            //     return;
            // }
            // if (contact.charAt(0) == 0 && contact.trim().length != 11) {
            //     alert("Invalid landline number");
            //     return;
            // }
            if (query.trim().length === 0) {
                alert("Please enter your query.");
                return;
            }

            alert("form submitted successfully!");
            window.location.href = "/buyer/profile";

        });
    </script>