<link rel="stylesheet" href="/Home.css" />
<%- include("Header.ejs") %>
<main>
    <div class="poster">
        <div class="slide">
            <h1>Welcome to AdVantage</h1>
        </div>
        <!-- <div class="slide">

        </div>
        <div class="slide">

        </div> -->
    </div>


    <section>
        <div class="Featured Catogeries">
            <div class="featuredHeader">
                <h2>Featured Catogeries</h2>
            </div>
            <div class="featuredIcons iconsBox">
                <div class="icon">
                    
                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                <div class="icon">

                </div>
                
            </div>
        </div>
    </section>
    <section>
        <div class="Featured Products">
            <div class="featuredHeader">
                <h2>Featured Products</h2>
            </div>
            <div class="productIcons iconsBox">
                <div class="product">
                    
                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <!-- ******************* -->
                <div class="product">

                </div>
                <div class="product">

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="Fresh Recomendations">
            <div class="featuredHeader">
                <h2>Fresh Recomendations</h2>
            </div>
            <div class="productIcons iconsBox">
                <div class="product">
                    
                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
                <div class="product">

                </div>
            </div>
        </div>
    </section>
</main>