<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/ManagerDashboard.css" />
  </head>
  <body>
    <div class="dashboard">
      <img class="sidebar" src="/Assets/AdminSidebar.png" />
      <div class="scroll_container">
        <table>
          <thead>
            <tr>
              <th>Seller Mail</th>
              <th>Seller name</th>
              <th>Product Name</th>
              <th>Description</th>
              <th>Proof</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
