<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/ManagerDashboard.css" />
  </head>
  <body>
    <div class="dashboard">
      <img class="sidebar" src="/Assets/AdminSidebar.png" />

      <div class="scroll_container">
        <% products.forEach((product) => { %>
        <a href="http://localhost:3000/search/product/<%= product.ProductId %>">
          <div class="product_card">
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
          </div>
        </a>
        <% }); %>
      </div>
    </div>
  </body>
</html>
