<link rel="stylesheet" href="/sellerSubscription.css">
<%- include('sellerHeader.ejs') %>

    <div class="subs-container">
        <div class="box">
            <div class="heading">
                <% if(currentPlan===0) { %>
                    Current Plan
                <%} else {%>
                    Basic Plan
                <%}%>
            </div>
            <div class="benfits">
                <div class="yes benfit">
                    <ul>
                        <li>
                            Free
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            15 Posts/day
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            Fresh Recomendations
                        </li>
                    </ul>
                </div>
                <div class="no benfit">
                    <ul>
                        <li>
                            No Ads shown
                        </li>
                    </ul>
                </div>
                <div class="no benfit">
                    <ul>
                        <li>
                            No featured Promotion
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="heading">
                <% if(currentPlan===1) { %>
                    Current Plan
                <%} else {%>
                    VIP 
                <%}%>
            </div>
            <div class="benfits">
                <div class="yes benfit">
                    <ul>
                        <li>
                            100Rs /Month
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            50 Posts/day
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            Fresh Recomendations
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            5 products in Featured Recomendations
                        </li>
                    </ul>
                </div>
                <div class="no benfit">
                    <ul>
                        <li>
                            No ads Shown
                        </li>
                    </ul>
                </div>
            </div>
            <% if(currentPlan<1) { %>
                <a href="/seller/subscription/vip">
                <div class="payment-btn">
                    Subscribe
                </div>
            </a>
            <%} %>
        </div>
        <div class="box">
            <div class="heading">
                <% if(currentPlan===2) { %>
                    Current Plan
                <%} else {%>
                    Premium
                <%}%>
            </div>
            <div class="benfits">
                <div class="yes benfit">
                    <ul>
                        <li>
                            999rs / year
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            Unlimited Posts/day
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            Fresh Recomendations
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            All products in Featured Recomendations
                        </li>
                    </ul>
                </div>
                <div class="yes benfit">
                    <ul>
                        <li>
                            No ads Shown
                        </li>
                    </ul>
                </div>
            </div>
            
            <% if(currentPlan<2 && currentPlan==1) { %>
                <a href="/seller/subscription/premium">
                <div class="payment-btn">
                    Upgrade
                </div>
            </a>
            <%} else if(currentPlan==0)     {%>
                <a href="/seller/subscription/premium">
                    <div class="payment-btn">
                        Subscribe
                    </div>
                <%}%>
               
        </div>
    </div>