<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sellerHeader.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                LOGO
            </div>
            <div class="actions">
                <a href="/seller">
                    <div class="dashboard hover">
                        Dashboard
                    </div>
                </a>
                <div class="subscriptions hover">
                    <a href="">Subscriptions</a>
                </div>
                <a href="/seller/chats/sellerInbox">
                    <div class="inbox hover">
                        Inbox
                    </div>
                </a>
                <a href="/seller/addProductForm">
                    <div class="newProduct hover">
                        Add new product
                    </div>
                </a>
                <div class="notifications">
                    <i class='bx bxs-bell-ring'></i>
                </div>
                <a href="/seller/updatePassword">
                    <div class="profile">
                        <i class='bx bxs-user-circle'></i>
                    </div>
                </a>
            </div>
            <div id="burger">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
</body>

</html>