@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

#wrapper {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7ff;
    color: #242424;
}
#errorbox {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    background: #e6eafc;
    box-shadow: 0px 0px 20px rgb(125, 125, 125);
    border-radius: 20px;
}   
#btn {
    padding: 1rem;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid black;
    color: black;
    background: #e6eafc;
    cursor: pointer;
}
#btn:hover {
    background-color: #242424;
    color: white;
}