@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}




body {
  background-color: #000;
  color: white;
  padding: 2rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sidebar {
  margin-top: 0%;
  height: 80%;
  width: 150px;
  object-fit: cover;
}

table {
  border-radius: 12px;
  margin: 15px;
  margin-top: 30px;
  border-collapse: collapse;
  color: white;
  background: linear-gradient(to right, #999999, #00013D);
  /* font-family: Arial, sans-serif; */
}

 td {
  padding: 20px 60px;
  border: 2px solid black;
  text-align: center;
}

th {
  font-size: 18px;
  border: 2px solid black;
  text-align: center;
  padding: 20px 60px;

}
.productPageBtn{
  text-decoration: none;
  color: white;
}