.subs-container {
    height: 90vh;
    width: 100vw;
    display: flex;
    gap: 4vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2effd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.wrapper {
    display: flex;
    gap: 2vw;
}
.box {
    height: 400px;
    width: 300px;
    border-radius: 25px;
    background: #ece6ff;
    color: #333333;
    box-shadow: 0px 0px 20px rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: appear 1.2s ease-out ;
}
.box:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}
.heading {
    font-size: 25px;
    font-weight: 600;
    margin-top: 4vh;
}
.benfits{
    width: 100%;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    flex-direction: column;
    margin-top: 1vh;
    /* animation: appear2 1.2s ease-out; */
}
.benfit {
    margin-left: 4vw;
    margin-top: 10px;
}
.yes {
    color: black;
}
.no {
    color: rgb(140, 138, 138);
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.payment-btn {
    height: 40px;
    width: 95px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
    transition: all ease;
    color: white;
    font-size: large;
}

.payment-btn:hover {
    color: black;
    background: #ece6ff;
    border-radius: 5px;
    border: 2px solid black;
}

.payment-btn>a {
    
}