* {
    margin: 0;
    padding: 0;
}

header {
    height: max(9.765625vh, 40px);
    /*75px*/
    width: 100vw;
    background-color: #ffffff;
    padding: 0px 10px;
    color: rgb(0, 0, 0);
}

nav {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
}

.logo {
    margin-left: 20px;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.actions {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2vw;
    gap: 3vw;
    color: rgb(0, 0, 0);
}

.dashboard,
.inbox,
.subscriptions,
.logout {
    color: rgb(0, 0, 0);
}

.dashboard:hover,
.inbox:hover,
.subscriptions:hover,
.logout:hover {
  color: rgb(92, 88, 88);
  text-shadow:black
}

.newProduct {
    height: max(30px,inherit);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 23px;
    background-color: transparent;
    border: #242424 solid 2px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    box-shadow:  0 0 3px #242424;
    transition: all 0.1s ease;
}

.newProduct:hover {
    background-color: #242424;
    color: #ffffff;
    transition: all 0.1s ease;
}

.hover {
    cursor: pointer;
}



a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.bx {
    cursor: pointer;
    font-size: 30px;
}

#burger {
    font-size: max(3.6458333333333333333333333333333vh, 20px);
    display: none;
}
@media screen and (max-width:700px) {
    #burger {
        display: flex;
        margin-right: 2vw;
        cursor: pointer;
        box-shadow: 0px 0px 5px #242424;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .actions {
        display: none;
    }
}