@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  padding: 0.5rem 1rem;
}

.title {
  color: rgb(0, 0, 0);
  margin: 15px;

  font-weight: 500;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #F8f6ff ;
}

h2{
  color: rgb(0, 0, 0);
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}

h3 {
  margin: 10px;
}

.card_container {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  border-radius: 12px;
  height: 200px;
  width: 220px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(0, 0, 0);
  border-width: 3px solid;
 
}

.card img {
  width: 100%; 
  height: 100%;  
  object-fit: cover; 
  border-top-left-radius: 12px; 
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.no_products {
  width: 100%;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.adcontainer{
  margin-bottom: 3rem;
}