/* Add these styles to your existing Login.css file */

/* Main container styling */
main {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8f6ff;
}

/* Card styling for change password */
.card {
    height: 500px;
    width: 430px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 10px #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SignUP section styling */
.signUP {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
}

/* Head title styling */
.head {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.head h1 {
    font-size: 28px;
    font-weight: 400;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

/* Email and user-details sections */
.email, .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-details {
    gap: 15px;
}

/* Input field styling */
input {
    height: 50px;
    width: 340px;
    background-color: transparent;
    opacity: 0.6;
    padding-left: 10px;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #242424;
}

input::placeholder {
    color: black;
    font-weight: 400;
    font-size: medium;
}

/* Button styling */
.signup-btn {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

#submit {
    height: 50px;
    width: 150px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 87, 122);
    border: none;
    outline: none;
}

/* Remove Chrome autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: inset 0px 0px 5px #242424, 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: inset 0px 0px 5px #242424, 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}