body {
  font-family: Arial, sans-serif;
  background: #f8f6ff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Sidebar */
.sidebar {
  width: 25%;
  background: transparent;
  padding: 20px;
  border-right: 1px solid #000;
  overflow-y: auto;
  max-height: 90vh;
}

.sidebar h2 {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 30px;
  padding: 15px;
  /* border: 1px solid #000; */
  border-radius: 10px;
  cursor: pointer;
  min-height: 140px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 2px black;
}

.product-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-item p {
  margin: 2px 0;
  font-weight: bold;
}

#product-list {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}
/* Main Comparison */
.main {
  flex: 1;
  padding: 28px;
}
.main h2 {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}
#comparison-container {
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.comparison-card {
    width: 45%;
    background: #fff;
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.comparison-card img.clickable-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.remove-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-row button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
}

.label-bold {
  font-weight: bold;
  display: inline;
  margin-right: 3px;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}