.window {
  /* background-image: url("/Assets/Backgrounds/Search_page.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center -150px; */
  background-repeat: no-repeat;
}

.main-container {
  min-height: 90vh;
  padding: 2rem 0rem;
  background-color: #24242400;
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  margin-top: 0%;
  padding-top: 0%;
}
.bx-left-arrow-alt {
  margin-left: 30px;
  font-size: 28px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
}
.user-data {
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  align-items: center;
  margin: 3vh 6vw;
}
@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.data-box {
  height: 220px;
  width: 400px;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 10px;
  border: white 2px solid;
  cursor: pointer;
  transition: all 0.2s ease;
}

.data-box:hover {
  scale: 1.05;
}

.section-text {
  color: white;
  margin-left: 20px;
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  animation: animate 1.2s ease;
}

@media screen and (max-width: 856px) {
  .user-data {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    margin-left: 30px;
    justify-content: center;
  }
}

.product {
  background-color: #f7f7f7f7;
  border-radius: 10px;
  cursor: pointer;
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.product:hover {
  scale: 1.05;
}
@keyframes icon {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes png {
  0% {
    height: 0px;
    width: 0px;
    scale: 0.005;
  }
  100% {
    height: 100px;
    width: 100px;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.8;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 860px) {
  .Featured,
  .Fresh {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .product {
    height: 300px;
    width: 300px;
  }
}
.img-wrapper {
  margin-top: 15vh;
}
.logo {
  /* padding-top: 15vh;
    padding-right: 100vh; */
  margin-left: 0;
  padding-left: 2%;
  width: 30vw;
  scale: 1.3;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.productIcons {
  margin-top: 5vh;
}

.product_list {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38px;
  padding: 1rem 5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product_card {
  /* height: 180px; */
  width: 250px;
  padding: 1rem;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 10px;
  /* border: white 2px solid; */
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}

.product_card img {
  width: 100%;
  /* height: 100%; */
  height: 35vh;
  object-fit: cover;
  border-radius: 10px;
}

.product_card p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.product_card:hover {
  transform: scale(1.05);
}
