* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;

  background-color: #f8f6ff;
}

#logo {
  /* display: block; */
  padding: 10px 3px;
  color: black;
}

#logo:hover {
  cursor: pointer;
}

#addNewProd {
  /* display: flex; */
  /* align-items: center; */
  margin-left: 8vw;
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2vw;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  padding-left: 7.8125vw;
  padding-right: 6.510416666vw;
  padding-bottom: 5vh;
  font-family: sans-serif;
}

.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 327.75px;
  min-width: 365.562px;
}

.div1 h3{
    font-size: 25px;
    font-weight: 400;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;

  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  /* align-items: center; */
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;

  overflow: auto;
  min-height: 100px;
}

.div5 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
}

#labelForProof {
  padding: 10px;
}
#labelForProof:hover {
  background-color: #9aadccb7;
  border-radius: 3px;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;

  min-height: 100px;
}

.griditem {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 3px rgb(37, 37, 37);
}

.flexitem {
  margin: 10px 0px 0px 20px;
}
input {
  color: rgb(0, 0, 0);
}
input::placeholder {
  color: rgb(0, 0, 0);
}
textarea {
  color: rgb(0, 0, 0);
}
textarea::placeholder {
  color: rgb(0, 0, 0);
}
select {
  padding: 6px;
  border-radius: 8px;
  margin-top: 5px;
}
input.flexitem {
  background-color: #F8f6ff;
  padding-left: 10px;
  border: 0px;
  width: 90%;
  height: 30px;
  min-height: 30px;
  font-size: 15px;
  /* margin-bottom: 30px; */
  border-radius: 10px;
  box-shadow:  0px 0px 2px rgb(40, 38, 38);
}

input[type="number"] {
  padding-right: 3px;
  width: 25%;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* input[type="number"]::after{
    content: "Rs";
} */
button[type="submit"] {
  font-size: large;
  background-color: #ddeafe5b;
  border: 0px;
  padding: 7px 5px;
  border-radius: 5px;
  margin-left: 5vw;
}
button[type="submit"]:hover {
  background-color: #ddeafeb6;
  cursor: pointer;
}
/* #flexparent{
    display: flex;
    justify-content: space-around;
} */
textarea.flexitem:nth-child(5) {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F8f6ff;
  border: 0px;
  width: 90%;
  height: 10%;
  min-height: 30px;
  resize: none;
  height: 30%;
  width: 90%;
  font-size: 15px;
  border-radius: 10px;
  box-shadow:  0px 0px 2px rgb(40, 38, 38);
}

#plus {
  font-size: 100px;
  /* transform: translate(0%,-110%); */
  color: rgb(218, 218, 218);
  border-radius: 10px;
  display: inline-block;
  padding: 0px 20px;
  /* transform: translate(-50%,-50%); */
  /* border: 1px solid black; */
}

#plus:hover {
  cursor: pointer;
  background-color: #ddeafe5b;
}

.parent1 {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.div22 {
  grid-row: span 2 / span 2;
}

.parentd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  height: 7vh;
  width: 90%;
}

.div4d{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    /* justify-content: center; */
}


#Name{
    margin-bottom: 30px;
    height: 60px;
}

#State{
    margin-bottom: 20px;
    height: 50px;
    padding: 0px 10px;
    background-color: #F8f6ff;
}

#District{
    margin-bottom: 15px;
    height: 50px;
}
#City{
    height: 50px;
    margin-bottom: 15px;
}

#zipcode{
    height: 40px;
}

#isRental{
    box-shadow: none;
}