* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainContent {
    height: 80vh;
    width:94vw;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 20px;
    background-color: rgb(245, 245, 255);
    box-shadow: 0px 0px 20px black;
    color: #000 !important;
    display: flex;
}
body {
    background-color:#ffffff;
    color: black !important;
}
.left {
    width: 30vw;
    height: inherit;
    background-color: rgb(245, 245, 255);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 2px solid black;
}
.chatHead {
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
    margin-top: 3vh;
    align-items: center;
    border-bottom: 2px solid black;
}
.contacts {
    display: flex;
    flex-direction: column;
    animation: appearContacts 1s ease;
}

@keyframes appearContacts {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.person {
    height: 75px;
    width: 30vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.dp {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgb(100, 97, 97);    
    margin-left: 2vw;
    cursor: pointer;
}
.name {
    font-weight: 500;
    font-size: 18px;
    margin-left: 1vw;
}
.chatbox {
    height: 75vh;
    width: 64vw;
    border-top-right-radius: 20px;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.currentChat {
    height: 50px;
    padding: 1.5vh 0px;
    width: inherit;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 24px;
    font-weight: 500;
}
.messages {
    width: 64vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}
.msg-style {
    display: flex;
    align-items: center;
    gap: 5px;
}
.dp-circle-small {
    height: 30px;
    width: 30px;
    background-color: rgb(100, 97, 97);     
    border-radius: 100%;
}
.message-content {
    height: fit-content;
    padding: 15px;
    max-width: 20vw;
    word-break: break-all;
    border-radius: 10px;
    background-color: #242424;
}

.message-left {
    width: 64vw;
    height: fit-content;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
    justify-content: flex-start;
    animation: msgLeft 0.7s ease-out;
}

@keyframes msgLeft {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.message-right {
    width: 64vw;
    height: fit-content;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
    animation: msgRight 0.7s ease-out;
}
@keyframes msgRight {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.message-right>.dp-circle-small {
    margin-right: 10px;
}
.type {
    height: 40px;
    width: 64vw;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

#text-box {
    resize:none;
    width: 30vw;
    height: 35px;
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
}
.send-btn {
    height: fit-content;
    width: fit-content;
    padding: 8px 12px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
}
.send-btn:hover {
    background-color: black;
    color: white;
}


#myName {
    color: #242424;
    margin-left: 3vw;
    font-style:italic;
}