/* Import Poppins font from Google Fonts (add this at the very top of your CSS) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: #ebe9f3;
  /* overflow-x: hidden; */
}

.mainContent {
  width: 100vw;
  /* height: fit-content; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: #ebe9f3;
}

.poster {
  width: 100vw;
  height: 60vh;
  background: transparent;
  /* margin-top: 2vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0vw;
  animation: animate 1.2s ease-out;
  background-color: rgb(0, 0, 0);
}

.dialContainer {
  display: flex;
  align-items: center;
  color: rgb(220, 213, 213);
  gap: 10px;
  margin-left: 27vw;
  margin-top: 3vh;
  height: 10px;
}

.dialContainer h1 {
  font-size: 2.5rem;
  margin: 0;
  padding-top: 55px;
  padding-left: 10px;
}

.dial {
  width: 150px;
  height: 50px;
  position: relative;
  perspective: 400px;
  overflow: hidden;
  margin-top: 60px;
}

.words {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotateWords 3s linear infinite;
}

.word {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  transform-origin: center;
  opacity: 0.3;
}

.word:nth-child(1) {
  transform: rotateX(0deg) translateZ(25px);
}
.word:nth-child(2) {
  transform: rotateX(120deg) translateZ(25px);
}
.word:nth-child(3) {
  transform: rotateX(240deg) translateZ(25px);
}

@keyframes rotateWords {
  0% {
    transform: rotateX(0deg);
  }
  33.33% {
    transform: rotateX(-120deg);
  }
  66.66% {
    transform: rotateX(-240deg);
  }
  100% {
    transform: rotateX(-360deg);
  }
}

/* .header-poster {
    background: url('Assets/OHHOhh.jpeg') no-repeat right/ 50%;
    min-height: 60vh;
    width: 100%;
} */

section {
  height: fit-content;
  width: 95%;
  margin-top: 3vh;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featuredHeader {
  font-size: larger;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-left: 0.7vh;
}

.featuredHeader h2 {
  font-weight: 400;
  margin-bottom: 30px;
}

.iconsBox {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  gap: 2.5vw;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.productName > p {
  color: rgb(220, 213, 213);
  width: 250px;
}
.icon {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: icon ease;
  animation-timeline: view();
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icon > img {
  height: 80px;
  width: 80px;
  animation: png 5s ease;
  animation-timeline: view();
}
.icon > img:hover {
  scale: 1.1;
}

.iconText {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-align: center;
  margin-right: 5px;
  margin-top: 9px;
  animation-timeline: view();
  animation: iconTextFade 1s ease 0.3s forwards;
}

.iconText h3 {
  font-weight: 400;
}
.product {
  background-color: #f7f7f7f7;
  border-radius: 10px;
  cursor: pointer;
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.product:hover {
  scale: 1.05;
}
@keyframes icon {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes png {
  0% {
    height: 0px;
    width: 0px;
    scale: 0.005;
  }
  100% {
    height: 70px;
    width: 70px;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.8;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 860px) {
  .Featured,
  .Fresh {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes iconTextFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 420px) {
  .product {
    height: 300px;
    width: 300px;
  }
}
.imgWrapper {
  margin-top: 15vh;
}
.logo {
  /* padding-top: 15vh;
    padding-right: 100vh; */
  margin-left: 10vw;
  padding-left: 2%;
  width: 36vw;
  scale: 1.3;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.productIcons {
  margin-top: 5vh;
}

#mobile > img {
  width: 100%;
  height: 3vh;
  margin-top: 2vh;
}

#clothes > img {
  width: 100%;
  height: 70%;
  margin-top: 2vh;
}

#laptops > img {
  width: 100%;
  height: 70%;
  margin-top: 2vh;
}

#electronics > img {
  width: 100%;
  height: 70%;
  margin-top: 2vh;
  scale: 1.3;
}

#electronics > img:hover {
  scale: 1.4;
}

#books > img {
  width: 100%;
  height: 70%;
  margin-top: 2.5vh;
}

#furniture > img {
  width: 100%;
  height: 70%;
  scale: 1.3;
  margin-top: 2.5vh;
}

#furniture > img:hover {
  scale: 1.4;
}

#vehicles > img {
  width: 100%;
  height: 100%;
  scale: 1.3;
}

#vehicles > img:hover {
  scale: 1.4;
}

#sports > img {
  width: 100%;
  height: 70%;
  margin-top: 2vh;
}

#accessories > img {
  width: 100%;
  height: 70%;
  margin-bottom: 3vh;
  scale: 1.3;
}

#accessories > img:hover {
  scale: 1.4;
}

#music > img {
  width: 100%;
  height: 70%;
  margin-top: 3vh;
  scale: 1.2;
}

#music > img:hover {
  scale: 1.3;
}

.newProduct {
  height: 40px;
  width: 100px;
}

.productList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productCard {
  overflow: hidden;
  border: none;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  width: 18.229166666666667vw;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.productCard img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

.productCard p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.productCard:hover {
  transform: scale(1.05);
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  color: #555;
  margin-top: 20px;
  /* margin-left: 40vw; */
  width: 100%;
  height: 15vh;
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Additional camelCase class names */
.headerPoster {
  /* Add any specific styles if needed */
}

.featuredCategories,
.featuredProducts,
.fresh {
  /* Inherits section styles */
}

.featuredIcons {
  /* Inherits from iconsBox */
}
