.mainContent {
    height: 90vh;
    width: 100vw;
    background: #f6f3ff;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.box {
    border-radius: 10px;
}
.payment-type {
    height: 70vh;
    width: 400px;
    background-color: #f8f6ff !important;
    border: 2px solid white;
    box-shadow: 0px 0px 30px rgb(75, 75, 75);
    color: black !important;
    margin-top: 10vh;
}
.payment-details {
    height: 260px;
    width: 350px;
    background-color: #f8f6ff;
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgb(75, 75, 75);
    color: black;
    margin-top: 10vh;
}
.head {
    font-size: larger;
    border-bottom: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.details {
    margin-left: 30px;
    margin-top: 2vh;
    font-size: large;
    font-weight: 600;
}
.detail {
    margin-top: 16px;
}
span {
    font-weight: 100;
}

  .payment-type {
    background: #2c2c2c;
    border:2px solid white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    color: white;
    font-family: sans-serif;
  }

  .payment-options {
    display: flex;
    gap: 10px;
    margin: 15px 0;
  }

  .payment-option {
    flex: 1;
    padding: 10px 0;
    background: #3b3b3b;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  .payment-option.active {
    background: linear-gradient(135deg, #6a737b, #1e1e1e);
    border-color: #767e87;
    transform: scale(1.02);
  }

  .payment-section {
    display: none;
    margin-top: 15px;
  }

  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .payment-btn {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #242424;
    transition: all 0.3s ease-out;
    color: white;
    font-size: large;
    cursor: pointer;
  }

  .payment-btn:hover {
    background-color: #f8f6ff;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
  }

  input {
    margin-bottom: 25px;
  }