

.window{
    /* background-image: url("/Assets/Backgrounds/Bluemoon.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center -150px; */
    /* background-repeat: no-repeat;     */
}

.main-container {
    min-height: 90vh;
    width: 100vw;
    background-color: #F8f6ff;
    display: flex;
    flex-direction: column;   
}

.header {
    height: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(0, 0, 0);
    padding-top: 30px;
}

.header h1 {
    font-weight: 400;

}

.header-text {
    font-weight: 300;
   
}
.bx-left-arrow-alt {
    margin-left: 30px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
}

.user-data {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    margin:3vh 6vw;  
}
@keyframes animate {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes animate {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.data-box{
    height: 220px;
    width: 400px;
    background-color: rgba(217, 217, 217, 0);
    border-radius: 10px;
    border: rgb(0, 0, 0) 2px solid;
    cursor: pointer;
    transition: all 0.2s ease;
}

.data-box:hover {
    scale: 1.05;
}

.section-text {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    animation: animate 1.2s ease;
}

@media screen and (max-width:856px) {
    .user-data {
        margin-top: 3vh;
        display: flex;
        flex-wrap: wrap;
        gap: 3vw;
        align-items: center;
        margin-left: 30px;
        justify-content: center;
    }
}





